In [11]:
import pandas as pd
from datetime import datetime

In [77]:
today = datetime.today()
today = pd.to_datetime(today, format='%Y-%m-%d')
today

Timestamp('2024-10-08 21:46:02.550203')

In [51]:
imdbRaw = pd.read_csv("/Users/ianchang/Library/Mobile Documents/com~apple~CloudDocs/1. Project/Fall 2024/Movie_Creation_Tool-1/ignoredFiles/TMDB_all_movies.csv",usecols=["title", "imdb_id", "release_date", "runtime"])

In [52]:
imdbRaw

                                    title release_date  runtime    imdb_id
0                                   Ariel   1988-10-21     73.0  tt0094675
1                     Shadows in Paradise   1986-10-17     74.0  tt0092149
2                              Four Rooms   1995-12-09     98.0  tt0113101
3                          Judgment Night   1993-10-15    109.0  tt0107286
4        Life in Loops (A Megacities RMX)   2006-01-01     80.0  tt0825671
...                                   ...          ...      ...        ...
1000021                        Centenario          NaN     74.0        NaN
1000022       Bonafide - Messin' In Wales          NaN      0.0        NaN
1000023    Женщина с цветами и шампанским          NaN     73.0        NaN
1000024                               NaN          NaN      NaN        NaN
1000025                               NaN          NaN      NaN        NaN

[1000026 rows x 4 columns]

In [79]:
# Step 1: Convert 'release_date' to datetime and extract the year
imdbRaw['release_date'] = pd.to_datetime(imdbRaw['release_date'], format='%Y-%m-%d', errors='coerce')

# Step 2: Filter rows where both 'imdb_id' and 'release_date' are valid (non-null)
valid_time_rows = imdbRaw[pd.notna(imdbRaw['imdb_id']) & pd.notna(imdbRaw['release_date'])].copy()

# Step 3: Extract the year and assign it to a new column 'release_year'
valid_time_rows['release_year'] = valid_time_rows['release_date'].dt.year

valid_rows = valid_time_rows[valid_time_rows['release_date'] <= datetime.today()]

# Now valid_rows is your "imdbProcessed" dataframe with valid rows and a 'release_year' column
imdbProcessed = valid_rows

# Optional: If you want to reset the index
# imdbProcessed.reset_index(drop=True, inplace=True)

In [80]:
imdbProcessed = imdbProcessed.sort_values(by=["release_year"], ascending= False)

In [82]:
imdbProcessed.to_csv("/Users/ianchang/Library/Mobile Documents/com~apple~CloudDocs/1. Project/Fall 2024/Movie_Creation_Tool-1/imdbProcessed.csv")